In [6]:
from ai_leads.model.llm_model import LLMManager
from langchain.output_parsers import StructuredOutputParser

In [9]:
from enum import Enum
from langchain.output_parsers import ResponseSchema, StructuredOutputParser
from langchain.output_parsers.enum import EnumOutputParser

class CompanyActivity(Enum):
    RECRUITING = "Recruitment"
    FORMATION_ECOLE = "Formation/Education"
    OTHER = "Other"


template_find_activity = """
    What is the activity sector of the company, according to this text ?
    > Text: {html_raw_code}
    Please, answer using the following instructions. Don't do anything else
    Instructions: {format_instructions}"""

enum_parser_activity = EnumOutputParser(enum=CompanyActivity)

In [12]:
import ai_leads.utils as utils
output_parser = enum_parser_activity
variable_list = utils.extract_variables(template_find_activity)
html_raw_code = "Kara est une agence d'intérim"
llm_manager = LLMManager()
llm_manager.llm = ChatGroq(temperature=0, groq_api_key=api_key_groq, 
                           model_name="mixtral-8x7b-32768")
if output_parser is not None:
    format_instructions = output_parser.get_format_instructions()
    variable_list.remove("format_instructions")
    prompt = llm_manager.prepare_prompt(
        template=template_find_activity,
        input_vars=variable_list,
        partial_vars={"format_instructions": format_instructions},
    )
    response = llm_manager.run_llm_chain(prompt, html_raw_code=html_raw_code)
    print(response)
else:
    prompt = llm_manager.prepare_prompt(template=template, input_vars=variable_list)
    response = llm_manager.run_llm_chain(prompt, url=url)
    print(response)

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"

content='Recruitment' response_metadata={'token_usage': {'completion_tokens': 2, 'prompt_tokens': 69, 'total_tokens': 71}, 'model_name': 'gpt-3.5-turbo-16k', 'system_fingerprint': None, 'finish_reason': 'stop', 'logprobs': None} id='run-0edd1415-4cfa-4e57-b128-c02769f7bde7-0'

In [18]:
import langchain_core
langchain_core.messages.ai.AIMessage

langchain_core.messages.ai.AIMessage

In [14]:
response.content

'Recruitment'

In [10]:
import ai_leads.utils as utils
prompt_template = """Hello {url}"""
variable_list = utils.extract_variables(prompt_template)
variable_list

['url']

In [4]:
import ai_leads.utils as utils
prompt_template = """Donne une liste de 5 joueurs du barça {url}"""
variable_list = utils.extract_variables(prompt_template)
url = "lequipe.fr"
llm_manager = LLMManager()
prompt = llm_manager.prepare_prompt(template=prompt_template, input_vars=variable_list)
response = llm_manager.run_llm_chain(prompt, url = url)

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"

In [5]:
response

AIMessage(content="Voici une liste de 5 joueurs du FC Barcelone selon lequipe.fr :\n\n1. Lionel Messi - Considéré comme l'un des meilleurs joueurs de tous les temps, Messi est le capitaine emblématique du Barça et a remporté de nombreux titres avec le club.\n\n2. Antoine Griezmann - L'attaquant français a rejoint le Barça en 2019 et apporte sa vitesse et sa technique au jeu de l'équipe.\n\n3. Frenkie de Jong - Le milieu de terrain néerlandais est connu pour sa vision du jeu et sa capacité à contrôler le milieu de terrain.\n\n4. Gerard Piqué - Le défenseur espagnol est un pilier de la défense du Barça depuis de nombreuses années et apporte son expérience et son leadership à l'équipe.\n\n5. Marc-André ter Stegen - Le gardien allemand est considéré comme l'un des meilleurs gardiens de but au monde et a été un élément clé de l'équipe du Barça ces dernières saisons.", response_metadata={'token_usage': {'completion_tokens': 232, 'prompt_tokens': 22, 'total_tokens': 254}, 'model_name': 'gpt-3.5-turbo-16k', 'system_fingerprint': None, 'finish_reason': 'stop', 'logprobs': None}, id='run-6c02cfbc-e2a9-4b14-bf18-fe6a88e5d0ad-0')

In [26]:
llm_chain.invoke({})

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"

AIMessage(content='1. Lionel Messi\n2. Gerard Piqué\n3. Sergio Busquets\n4. Jordi Alba\n5. Antoine Griezmann', response_metadata={'token_usage': {'completion_tokens': 31, 'prompt_tokens': 19, 'total_tokens': 50}, 'model_name': 'gpt-3.5-turbo-16k', 'system_fingerprint': None, 'finish_reason': 'stop', 'logprobs': None}, id='run-0ede7ff9-ee70-429e-8f8c-616f233634af-0')

In [5]:
from langchain_core.prompts import ChatPromptTemplate
from langchain_groq import ChatGroq

In [6]:
api_key_groq = "xxx"
chat = ChatGroq(temperature=0, groq_api_key=api_key_groq, model_name="mixtral-8x7b-32768")

In [7]:
system = "You are a helpful assistant."
human = "{text}"
prompt = ChatPromptTemplate.from_messages([("system", system), ("human", human)])

chain = prompt | chat
chain.invoke({"text": "Explain the importance of low latency LLMs."})

INFO:httpx:HTTP Request: POST https://api.groq.com/openai/v1/chat/completions "HTTP/1.1 200 OK"

AIMessage(content='Sure, I\'d be happy to explain!\n\nLLM stands for "Low Latency Logging," which is a method of recording and transmitting data with minimal delay. Low latency LLMs are particularly important in time-sensitive applications where real-time data processing is critical. Here are some reasons why low latency LLMs are important:\n\n1. Improved user experience: In applications such as online gaming or video conferencing, low latency LLMs ensure that data is transmitted and processed quickly, resulting in a smoother and more responsive user experience.\n2. Increased efficiency: Low latency LLMs enable faster data processing, which can lead to increased efficiency in data-intensive applications such as financial trading or scientific simulations.\n3. Enhanced security: In security-critical applications, low latency LLMs can help detect and respond to threats more quickly, reducing the risk of data breaches or other security incidents.\n4. Better decision-making: In real-time decision-making scenarios, such as autonomous vehicles or industrial automation, low latency LLMs can provide the necessary data in near real-time, enabling faster and more accurate decision-making.\n\nOverall, low latency LLMs are essential in applications where timely and accurate data processing is critical. By minimizing delay and ensuring fast data transmission, low latency LLMs can improve user experience, increase efficiency, enhance security, and enable better decision-making.', response_metadata={'token_usage': {'completion_time': 0.558, 'completion_tokens': 309, 'prompt_time': 0.007, 'prompt_tokens': 26, 'queue_time': None, 'total_time': 0.5650000000000001, 'total_tokens': 335}, 'model_name': 'mixtral-8x7b-32768', 'system_fingerprint': 'fp_c5f20b5bb1', 'finish_reason': 'stop', 'logprobs': None}, id='run-d73266d5-5193-4b52-ae4a-8c17e3449c1a-0')

## Test job df creator

In [8]:
from ai_leads.model.job_dataset_creation import JobDataFrameCreator

## With Groq

In [20]:
%time
url = "https://fr.indeed.com/q-data-scientist-emplois.html?vjk=329a7f78a3224b9a"
job_df_instance = JobDataFrameCreator()
job_df_instance.llm_manager.llm = ChatGroq(temperature=0, groq_api_key=api_key_groq, 
                                           model_name="llama3-8b-8192")
job_df_instance.create_table_with_job(url, platform = "Indeed")

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 8.82 µs

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
INFO:ai_leads.model.job_dataset_creation:We just keep idf cities
INFO:ai_leads.model.job_dataset_creation:An error occured: [Errno 2] No such file or directory: 'data/list_city_idf.txt'
INFO:ai_leads.model.job_dataset_creation:LLM Response is: job name; company; location; time indication; contact
Data Scientist F/HiQera; iQera; Paris (75); il y a 23 jours; N.A.
Alternance – Data scientist (H/F) – Metz (57); Caisse d'Epargne Grand Est Europe; Metz (57); il y a 10 jours; N.A.
Analyste Audit IT & Data | PwC Montpellier | CDI | H/F; PwC; Montpellier; il y a 8 jours; N.A.
Data Scientist (F-H) H/F; GROUPE LA CENTRALE; Paris (75); il y a 3 jours; N.A.
Data Scientist H/F; GROUPE LA CENTRALE; Paris (75); il y a 15 jours; N.A.
Data Scientist - Machine Learning; Eyetech Solutions; Paris (75); N.A.; N.A.
Alternance Data analyst H/F - Sarcelles (F/H); ISCOD; Sarcelles; il y a 2 jours; N.A.
Data Analyst; Peroptyx; Paris (75); N.A.; N.A.
RESERVISTE - Data analyst; Marine Nationale; Brest; il y a 25 jours; N.A.
IMEO Methane Data Scientist; United Nations; Paris (75); il y a 26 jours; N.A.
Data Scientist (H/F); DCS EASYWARE; Paris (75); il y a 5 jours; N.A.
DATA SCIENTIST H/F; Orange Business; Paris (75); il y a 12 jours; N.A.
DATA SCIENTIST H/F; Orange; Paris (75); il y a plus de 30 jours; N.A.
Apprenti Data Scientist Maintenance Prédictive du réseau METRO; RATP; Paris; il y a 5 jours; N.A.
Data Scientist (H/F); DCS GROUP; Paris (75); il y a 3 jours; N.A.

                                             job name  ... contact
0                             Data Scientist F/HiQera  ...    N.A.
1       Alternance – Data scientist (H/F) – Metz (57)  ...    N.A.
2   Analyste Audit IT & Data | PwC Montpellier | C...  ...    N.A.
3                            Data Scientist (F-H) H/F  ...    N.A.
4                                  Data Scientist H/F  ...    N.A.
5                   Data Scientist - Machine Learning  ...    N.A.
6       Alternance Data analyst H/F - Sarcelles (F/H)  ...    N.A.
7                                        Data Analyst  ...    N.A.
8                           RESERVISTE - Data analyst  ...    N.A.
9                         IMEO Methane Data Scientist  ...    N.A.
10                               Data Scientist (H/F)  ...    N.A.
11                                 DATA SCIENTIST H/F  ...    N.A.
12                                 DATA SCIENTIST H/F  ...    N.A.
13  Apprenti Data Scientist Maintenance Prédictive...  ...    N.A.
14                               Data Scientist (H/F)  ...    N.A.

[15 rows x 5 columns]

## With Open AI

In [19]:
%time
url = "https://fr.indeed.com/q-data-scientist-emplois.html?vjk=329a7f78a3224b9a"
job_df_instance = JobDataFrameCreator()
job_df_instance.create_table_with_job(url, platform = "Indeed")

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 9.06 µs

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
INFO:ai_leads.model.job_dataset_creation:We just keep idf cities
INFO:ai_leads.model.job_dataset_creation:An error occured: [Errno 2] No such file or directory: 'data/list_city_idf.txt'
INFO:ai_leads.model.job_dataset_creation:LLM Response is: job name; company; location; time indication; contact
Data Scientist F/H; iQera; Paris (75); il y a 23 jours; N.A.
Alternance – Data scientist (H/F) – Metz (57); Caisse d'Epargne Grand Est Europe; Metz (57); il y a 10 jours; N.A.
Analyste Audit IT & Data | PwC Montpellier | CDI | H/F; PwC; Montpellier; il y a 8 jours; N.A.
Data Scientist (F-H) H/F; GROUPE LA CENTRALE; Paris (75); il y a 3 jours; N.A.
Data Scientist H/F; GROUPE LA CENTRALE; Paris (75); il y a 15 jours; N.A.
Data Scientist - Machine Learning; Eyetech Solutions; Paris (75); aujourd'hui; N.A.
Alternance Data analyst H/F - Sarcelles (F/H); ISCOD; Sarcelles; il y a 2 jours; N.A.
Data Analyst; Peroptyx; Paris (75); N.A.; N.A.
RESERVISTE - Data analyst; Marine Nationale; Brest; il y a 25 jours; N.A.
IMEO Methane Data Scientist; United Nations; Paris (75); il y a 26 jours; N.A.
Data Scientist (H/F); DCS EASYWARE; Paris (75); il y a 5 jours; N.A.
DATA SCIENTIST H/F; Orange Business; Paris (75); il y a 12 jours; N.A.
DATA SCIENTIST H/F; Orange; Paris (75); il y a plus de 30 jours; N.A.
Apprenti Data Scientist Maintenance Prédictive du réseau METRO; RATP; Paris; il y a 5 jours; N.A.
Data Scientist (H/F); DCS GROUP; Paris (75); il y a 3 jours; N.A.

                                             job name  ... contact
0                                  Data Scientist F/H  ...    N.A.
1       Alternance – Data scientist (H/F) – Metz (57)  ...    N.A.
2   Analyste Audit IT & Data | PwC Montpellier | C...  ...    N.A.
3                            Data Scientist (F-H) H/F  ...    N.A.
4                                  Data Scientist H/F  ...    N.A.
5                   Data Scientist - Machine Learning  ...    N.A.
6       Alternance Data analyst H/F - Sarcelles (F/H)  ...    N.A.
7                                        Data Analyst  ...    N.A.
8                           RESERVISTE - Data analyst  ...    N.A.
9                         IMEO Methane Data Scientist  ...    N.A.
10                               Data Scientist (H/F)  ...    N.A.
11                                 DATA SCIENTIST H/F  ...    N.A.
12                                 DATA SCIENTIST H/F  ...    N.A.
13  Apprenti Data Scientist Maintenance Prédictive...  ...    N.A.
14                               Data Scientist (H/F)  ...    N.A.

[15 rows x 5 columns]