In [1]:
import pandas as pd

In [2]:
import os

In [76]:
DATA_PATH = "../../data"
df_jobs = pd.read_csv(os.path.join(DATA_PATH, "jobs_tests.csv"), sep=";", index_col=0)[
    ["job name", "company", "location", "offer date", "contact", "position", "source", "url"]
]
df_leads = pd.read_csv(os.path.join(DATA_PATH, "leads_tests.csv"))

In [77]:
df_leads['company_id'] = pd.factorize(df_leads['Entreprise'])[0]

In [78]:
df_jobs

,job name,company,location,offer date,contact,position,source,url
0,Acheteur/Acheteuse en Industrie H/F,AKKODIS,Belfort,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...
1,Stage - Acheteur / Acheteuse IT H/F,CMA CGM,Marseille,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...
2,Acheteur Acheteur Industriel H/FH/F,ALDES,Vénissieux,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...
3,Stage - Acheteur/ Acheteuse Feedering H/F,CMA CGM,Marseille,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...
4,Acheteur Acheteur Industriel H/FH/F,ALDES,Vénissieux,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...
...,...,...,...,...,...,...,...,...
10,Office Manager H/F,PGWO,Paris 1er (75),il y a 18 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...
11,Office Manager H/F,SantéCité,Paris 9e (75),il y a 3 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...
12,Office Manager H/F,Page Personnel,Paris (75),il y a 4 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...
13,Office Manager,CSM,Paris (75),il y a 25 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...
14,EA and Office Manager,Joss Search,Paris (75),il y a 12 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...

In [79]:
df = df_leads[["company_id","Entreprise"]].rename(columns = {"Entreprise": "company"})

In [81]:
df

      company_id                        company
0              0                           n.a.
1              1  armée de l'air et de l'espace
2              2                          iscod
3              3      lhh recruitment solutions
4              4                 page personnel
...          ...                            ...
1131        1131                 groupama - g2s
1132        1132  groupama supports et services
1133        1133                    groupapharm
1134        1134                 groupe advenis
1135        1135                         élivie

[1136 rows x 2 columns]

In [82]:
df_jobs["company"] = df_jobs["company"].apply(lambda x: x.lower() if type(x) is str else x)

In [83]:
df_jobs = pd.merge(df_jobs,df, on ="company")

In [41]:
df_leads[["company_id","Entreprise"]].rename(columns = {"Entreprise": "company"})

      company_id                        company
0              0                           n.a.
1              1  armée de l'air et de l'espace
2              2                          iscod
3              3      lhh recruitment solutions
4              4                 page personnel
...          ...                            ...
1131        1131                 groupama - g2s
1132        1132  groupama supports et services
1133        1133                    groupapharm
1134        1134                 groupe advenis
1135        1135                         élivie

[1136 rows x 2 columns]

In [85]:
df_jobs.to_csv(os.path.join(DATA_PATH, "jobs_tests.csv"), sep = ";", index = False)

In [86]:
df_leads.to_csv(os.path.join(DATA_PATH, "leads_tests.csv"), sep = ",", index = False)

In [87]:
df_jobs

,job name,company,location,offer date,contact,position,source,url,company_id
0,Acheteur H/F,groupe roullier - cfpr,Loudéac,Dernier jour,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...,107
1,Gestionnaire Risk Management et Assurances Gro...,groupe roullier - cfpr,Saint-Malo,Temporary,N.A.,Gestionnaire back office,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...,107
2,Assistant de Direction H/F,groupe roullier - cfpr,Saint-Malo,il y a 1 semaine,N.A.,Assistant RH,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...,107
3,Acheteur (h/f),lhh recruitment solutions,Villeurbanne,Dernier jour,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...,3
4,Acheteur (h/f),lhh recruitment solutions,Vénissieux,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...,3
...,...,...,...,...,...,...,...,...,...
4703,Project Management Office Manager F/H,thales,Issy-les-Moulineaux (92),il y a 2 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...,554
4704,Office Manager & RH - Stage,yespark,Paris 11e,il y a 3 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...,427
4705,Office Manager H/F,axelys santé,Malakoff (92),il y a 3 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...,861
4706,Gestionnaire administratif adidas (H/F/D) - 35...,adidas,Paris (75),il y a 3 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...,853
4707,Office Manager H/F,santécité,Paris 9e (75),il y a 3 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...,524