In [1]:
import pandas as pd

In [2]:
import os

In [3]:
DATA_PATH = "../../data"
df_jobs = pd.read_csv(os.path.join(DATA_PATH, "jobs_tests.csv"), sep=";", index_col=0)[
    ["job name", "company", "location", "offer date", "contact", "position", "source", "url"]
]
df_leads = pd.read_csv(os.path.join(DATA_PATH, "leads_tests.csv"))

In [77]:
df_leads['company_id'] = pd.factorize(df_leads['Entreprise'])[0]

In [78]:
df_jobs

,job name,company,location,offer date,contact,position,source,url
0,Acheteur/Acheteuse en Industrie H/F,AKKODIS,Belfort,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...
1,Stage - Acheteur / Acheteuse IT H/F,CMA CGM,Marseille,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...
2,Acheteur Acheteur Industriel H/FH/F,ALDES,Vénissieux,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...
3,Stage - Acheteur/ Acheteuse Feedering H/F,CMA CGM,Marseille,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...
4,Acheteur Acheteur Industriel H/FH/F,ALDES,Vénissieux,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...
...,...,...,...,...,...,...,...,...
10,Office Manager H/F,PGWO,Paris 1er (75),il y a 18 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...
11,Office Manager H/F,SantéCité,Paris 9e (75),il y a 3 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...
12,Office Manager H/F,Page Personnel,Paris (75),il y a 4 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...
13,Office Manager,CSM,Paris (75),il y a 25 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...
14,EA and Office Manager,Joss Search,Paris (75),il y a 12 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...

In [79]:
df = df_leads[["company_id","Entreprise"]].rename(columns = {"Entreprise": "company"})

In [81]:
df

      company_id                        company
0              0                           n.a.
1              1  armée de l'air et de l'espace
2              2                          iscod
3              3      lhh recruitment solutions
4              4                 page personnel
...          ...                            ...
1131        1131                 groupama - g2s
1132        1132  groupama supports et services
1133        1133                    groupapharm
1134        1134                 groupe advenis
1135        1135                         élivie

[1136 rows x 2 columns]

In [82]:
df_jobs["company"] = df_jobs["company"].apply(lambda x: x.lower() if type(x) is str else x)

In [83]:
df_jobs = pd.merge(df_jobs,df, on ="company")

In [41]:
df_leads[["company_id","Entreprise"]].rename(columns = {"Entreprise": "company"})

      company_id                        company
0              0                           n.a.
1              1  armée de l'air et de l'espace
2              2                          iscod
3              3      lhh recruitment solutions
4              4                 page personnel
...          ...                            ...
1131        1131                 groupama - g2s
1132        1132  groupama supports et services
1133        1133                    groupapharm
1134        1134                 groupe advenis
1135        1135                         élivie

[1136 rows x 2 columns]

In [85]:
df_jobs.to_csv(os.path.join(DATA_PATH, "jobs_tests.csv"), sep = ";", index = False)

In [86]:
df_leads.to_csv(os.path.join(DATA_PATH, "leads_tests.csv"), sep = ",", index = False)

In [87]:
df_jobs

,job name,company,location,offer date,contact,position,source,url,company_id
0,Acheteur H/F,groupe roullier - cfpr,Loudéac,Dernier jour,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...,107
1,Gestionnaire Risk Management et Assurances Gro...,groupe roullier - cfpr,Saint-Malo,Temporary,N.A.,Gestionnaire back office,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...,107
2,Assistant de Direction H/F,groupe roullier - cfpr,Saint-Malo,il y a 1 semaine,N.A.,Assistant RH,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...,107
3,Acheteur (h/f),lhh recruitment solutions,Villeurbanne,Dernier jour,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...,3
4,Acheteur (h/f),lhh recruitment solutions,Vénissieux,N.A.,N.A.,Acheteur,Cadre Emploi,https://www.cadremploi.fr/emploi/liste_offres?...,3
...,...,...,...,...,...,...,...,...,...
4703,Project Management Office Manager F/H,thales,Issy-les-Moulineaux (92),il y a 2 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...,554
4704,Office Manager & RH - Stage,yespark,Paris 11e,il y a 3 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...,427
4705,Office Manager H/F,axelys santé,Malakoff (92),il y a 3 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...,861
4706,Gestionnaire administratif adidas (H/F/D) - 35...,adidas,Paris (75),il y a 3 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...,853
4707,Office Manager H/F,santécité,Paris 9e (75),il y a 3 jours,N.A.,Office Manager,Indeed,https://fr.indeed.com/jobs?q=Office Manager&l=...,524

In [4]:
DATA_PATH = "../../data"
df_jobs = pd.read_csv(os.path.join(DATA_PATH, "jobs_tests.csv"), sep=";", index_col=0)

In [19]:
df = df_jobs.groupby(["company_id","company", "source"]).size().reset_index(name='count')
max_count_idx = df.groupby(["company_id","company"])['count'].idxmax()

# Sélectionnez les lignes correspondantes dans le DataFrame d'origine
result_df = df.loc[max_count_idx, ['company_id', 'company', 'source', 'count']]

In [20]:
result_df

      company_id                        company        source  count
2              0                           n.a.        Indeed   1733
3              1  armée de l'air et de l'espace  Cadre Emploi    121
5              2                          iscod  Cadre Emploi    157
8              3      lhh recruitment solutions  Cadre Emploi    115
10             4                 page personnel  Cadre Emploi     49
...          ...                            ...           ...    ...
1064        1130           green energy service        Indeed      1
1065        1132  groupama supports et services        Indeed      1
1066        1133                    groupapharm        Indeed      1
1067        1134                 groupe advenis    Hello Work      1
1068        1135                         élivie        Indeed      1

[956 rows x 4 columns]

In [3]:
import requests

def is_in_ile_de_france(city):
    # Replace 'YOUR_API_KEY' with your actual API key from OpenCage Data.
    api_key = 'b9e2eb5b5c324208b39db0f671d74bd7'
    
    # Define the base URL for the OpenCage Geocoding API
    base_url = 'https://api.opencagedata.com/geocode/v1/json'
    
    # Prepare the request parameters
    params = {
        'q': city,
        'key': api_key,
    }
    
    try:
        # Send a request to the API
        response = requests.get(base_url, params=params)
        data = response.json()
        #print(data)
        
        # Check if the API returned a valid response
        if response.status_code == 200 and data.get('results'):
            # Get the first result (most relevant) and extract its administrative region
            administrative_region = data['results'][0]['components'].get('state')
            
            # Check if the administrative region is 'Île-de-France'
            if administrative_region == 'Île-de-France':
                return True
    except Exception as e:
        print(f"An error occurred: {e}")
    
    return False

# Example usage:
city_name = "Paris"
result = is_in_ile_de_france(city_name)
print(f"{city_name} is in Île-de-France: {result}")

Paris is in Île-de-France: False

In [7]:
from unidecode import unidecode

In [9]:
import re

def supprimer_caracteres_speciaux(chaine):
    # Utiliser une expression régulière pour garder seulement les lettres de l'alphabet
    chaine = unidecode(chaine)
    chaine_propre = re.sub(r'[^a-zA-Z]', '', chaine)
    return chaine_propre

# Exemple d'utilisation :
chaine_originale = "Ceci est une chaîne de caractères avec des 123 caractères spéciaux !"
chaine_propre = supprimer_caracteres_speciaux(chaine_originale)
print(chaine_propre)

Ceciestunechainedecaracteresavecdescaracteresspeciaux

In [13]:
import dateparser
from datetime import datetime
def convert_to_days(temp_string: str) -> int:
    """
    Convert a temporal string into a number of days since that date.

    Args:
        temp_string (str): The temporal string, e.g., "il y a 3 jours".

    Returns:
        int: Number of days since the date represented by temp_string.
    """
    try:
        parsed_date = dateparser.parse(temp_string, languages=["fr", "en"])
        today = datetime.now()
        delta = today - parsed_date
        return int(delta.days)
    except Exception as error:
        return -1

In [19]:
convert_to_days("More than 3 days ago")

-1

In [1]:
from ai_leads.model.job_dataset_creation import JobDataFrameCreator

In [2]:
jobObject = JobDataFrameCreator()

In [3]:
jobObject.convert_to_date("il y a 3 jours")

'30-11-2023'

In [1]:
import dateparser
from datetime import datetime

In [2]:
parsed_date = dateparser.parse("il y a 3 jours", languages=["fr", "en"])

In [3]:
parsed_date = dateparser.parse("il y a 3 jours", languages=["fr", "en"])
today = datetime.now()
delta = today - parsed_date

In [4]:
delta

datetime.timedelta(days=3, microseconds=406)

In [5]:
BASE_DATE = datetime.today()
BASE_DATE - delta

datetime.datetime(2024, 1, 11, 18, 56, 40, 430439)

In [3]:
from ai_leads.Config.param import DATA_RECRUITING_PATH, DATA_NON_RECRUITING_PATH, JOB_FILE_PATH

In [12]:
cd ..

/Users/raphaeladda/Desktop/Perso/AI-leads

In [14]:
df = pd.read_csv("data/jobs_tests.csv", sep = ";", index_col = 0)

In [16]:
df.company = df.company.apply(lambda x: str(x).lower().strip())

In [20]:
with open(DATA_NON_RECRUITING_PATH, "r") as file:
    non_recruiting_company_list = file.readlines()
non_recruiting_company_list = [company[:-1] for company in non_recruiting_company_list]

In [21]:
df["rcc"] = df.company.apply(lambda x: x not in non_recruiting_company_list)

In [26]:
rcc_list = list(df[df["rcc"]].company.unique())

In [ ]:
# Liste d'éléments

nom_fichier = "list_recruiting_company.txt"

# Écriture de la liste dans le fichier texte
with open(nom_fichier, "w") as fichier:
    for element in rcc_list:
        fichier.write(element + "\n")

print(f"La liste a été enregistrée dans le fichier '{nom_fichier}'.")

In [6]:
df = pd.read_csv("../../data/donnees_communes.csv", sep = ";", index_col = 0)

In [9]:
df = df[["REG", "COM"]]

In [18]:
df = df[df["REG"] == "Île-de-France"]

In [14]:
df.REG.unique()

array(['Auvergne-Rhône-Alpes', 'Hauts-de-France',
       "Provence-Alpes-Côte d'Azur", 'Grand Est', 'Occitanie',
       'Normandie', 'Nouvelle-Aquitaine', 'Centre-Val de Loire',
       'Bourgogne-Franche-Comté', 'Bretagne', 'Corse', 'Pays de la Loire',
       'Île-de-France', 'Guadeloupe', 'Martinique', 'Guyane',
       'La Réunion'], dtype=object)

In [23]:
import re
from unidecode import unidecode

def clean_str(string: str) -> str:
    # Utiliser une expression régulière pour garder seulement les lettres de l'alphabet
    clean_string = re.sub(r"[^a-zA-Z]", "", unidecode(string))
    return clean_string.lower()

In [28]:
idf_city_list = list(df["COM"].apply(clean_str).unique())
idf_city_list.append("paris")

In [29]:
# Liste d'éléments

nom_fichier = "list_city_idf.txt"

# Écriture de la liste dans le fichier texte
with open(nom_fichier, "w") as fichier:
    for element in idf_city_list:
        fichier.write(element + "\n")

print(f"La liste a été enregistrée dans le fichier '{nom_fichier}'.")

La liste a été enregistrée dans le fichier 'list_city_idf.txt'.

## Test Linkedin Google

In [1]:
from ai_leads.model.navigator import WebpageScraper
from ai_leads.model.linkedin_contact import LinkedInContactRetriever

In [2]:
scrapper_object = WebpageScraper()

In [4]:
linkedin_retriever = LinkedInContactRetriever()

In [5]:
linkedin_retriever.find_relevant_profiles("Chanel")

['https://fr.linkedin.com/in/estelle-moudenc-aa438750',
 'https://fr.linkedin.com/in/emmanu%C3%A8le-beaufils-5981aa98']

## Test LinkedIn Lib

In [14]:
from linkedin_scraper import Person, actions
from selenium import webdriver
driver = webdriver.Chrome()

email = "raphaeladda@live.fr"
password = "Lmessi21!"
actions.login(driver, email, password) # if email and password isnt given, it'll prompt in terminal
person = Person("https://www.linkedin.com/in/andre-iguodala-65b48ab5")

you are not logged in!

Not good library

## Test new parser

In [1]:
from ai_leads.Config.param import template_find_activity, enum_parser_activity
from ai_leads.model.llm_model import LLMManager

In [2]:
llm_manager = LLMManager()

In [10]:
output_parser = enum_parser_activity
format_instructions = output_parser.get_format_instructions()
html_raw_code = "Iscod est agence d'interim"
prompt = llm_manager.prepare_prompt(
                template_find_activity,
                input_vars=["html_raw_code"],
                partial_vars={"format_instructions": format_instructions},
            )
response = llm_manager.run_llm_chain(prompt, html_raw_code=html_raw_code)

In [11]:
output_parser.parse(response)

In [5]:
from enum import Enum
from langchain.output_parsers.enum import EnumOutputParser
from langchain.chat_models import ChatOpenAI

class Colors(Enum):
    RED = "red"
    GREEN = "green"
    BLUE = "blue"

parser = EnumOutputParser(enum=Colors)

from langchain.prompts import PromptTemplate

prompt = PromptTemplate.from_template(
    """What color eyes does this person have?

> Person: {person}

Instructions: {instructions}"""
).partial(instructions=parser.get_format_instructions())
chain = prompt | ChatOpenAI() | parser

In [6]:
res = chain.invoke({"person": "Frank Sinatra"})

In [1]:
from ai_leads.model.lead_dataset_creation import LeadDataFrameConverter

In [2]:
import pandas as pd
leadConverter = LeadDataFrameConverter(pd.DataFrame())

In [10]:
leadConverter.determine_activity_sector("robert walters lyon manufacturing et supply chain")

'Recruitment'